params {
    query = "$PWD/input.fasta"
    dbDir = "$PWD/DB/"
    dbName = "blastDB"
    threads = 4
    outdir = "out_dir"
    outfmt = 6
    outFileName = "input.blastout"
    options = "-evalue 1e-3"
    app = "blastn"
    help = false
    chunkSize = 1
    genome = false
  }

  timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

profiles {
  test { includeConfig './configs/test.config' }

  slurm { includeConfig './configs/slurm.config' }

  docker { docker.enabled = true }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}
